
General:
{
    Communication:
    {
	dev = "/dev/ttyS0";
	baudrate = 115200;
    };

    Logs:
    {
	range = 1;
	rawephem = 0;
    };

    Session:
    {
	interval  = 1.0;
	maskAngle = 5;
	storeGPS     = 1;
	storeGLONASS = 1;
	makeRINEX = 1;
	makeRAW   = 0;
	obsDir	= "/home/gps/DATA/GLSV";
	makeHourlyFiles = 1;
	makeDailyFiles = 1;
	csmooth = 100;    # This option sets carrier smoothing time in sec. 2 and less disables smoothing. Default value is 100
    };
    
    debug = 1;
    compress = 0;
    leap_sec = 14;
};




RINEXheader:
{
    MarkerName	      = "GLSV";
    MarkerNumber      = "12356M001";
    Observer	      = "Mikhailo Lytvyn";
    ObservingAgency   = "MAO";
    ReceiverNumber    = "30002";
    ReceiverType      = "NOV OEMV3";
    ReceiverFirmware  = "3.20";
    AntennaNumber     = "80001";
    AntennaType	      = "NOV702GG        NONE";
    Xcoord	      =	3512890.0862;
    Ycoord	      =	2068979.0899;
    Zcoord	      =	4888902.4006;
    AntennaHeight     = 0.0;
    NorthEccentricity = 0.0;
    EastEccentricity  = 0.0;
};

