#!/bin/sh

set -e

CONFIGFILE="/etc/NovaRS/NovaRS.config"
 
# Source debconf library. 
. /usr/share/debconf/confmodule 
 
action=$1 
version=$2 

db_title NovaRS configuration 

## Read config file
if [ -e $CONFIGFILE ]; then 
    SERIAL_PORT=`cat $CONFIGFILE | grep dev | grep ";" | awk '{print $3}' | awk -F';' '{print $1}' | awk -F'"' '{print $2}'`
    if [ "$SERIAL_PORT" = "/dev/ttyS0" ] || [ "$SERIAL_PORT" = "/dev/ttyS1" ] || [ "$SERIAL_PORT" = "/dev/ttyS2" ] || [ "$SERIAL_PORT" = "/dev/ttyS3" ] || [ "$SERIAL_PORT" = "/dev/ttyUSB0" ]  || [ "$SERIAL_PORT" = "/dev/ttyUSB1" ] || [ "$SERIAL_PORT" = "/dev/ttyUSB2" ] || [ "$SERIAL_PORT" = "/dev/ttyUSB3" ]
    then
	db_set novars/serial_port $SERIAL_PORT
    else
	db_set novars/serial_port "/dev/ttyS0"
    fi
    
    BAUDRATE=`cat $CONFIGFILE | grep baudrate | grep ";" | awk '{print $3}' | awk -F';' '{print $1}'`
    if [ "$BAUDRATE" = "300" ] || [ "$BAUDRATE" = "600" ] || [ "$BAUDRATE" = "1200" ] || [ "$BAUDRATE" = "2400" ] || [ "$BAUDRATE" = "4800" ] || [ "$BAUDRATE" = "9600" ] || [ "$BAUDRATE" = "19200" ] ||  [ "$BAUDRATE" = "38400" ] ||  [ "$BAUDRATE" = "115200" ]; then
	db_set novars/baudrate $BAUDRATE
    else
	db_set novars/baudrate 115200
    fi
    
    OBS_DIR=`cat $CONFIGFILE | grep obsDir | grep ";" | awk '{print $3}' | awk -F';' '{print $1}' | awk -F'"' '{print $2}'`
    db_set novars/observation_directory $OBS_DIR
    
    MARKER_NAME=`cat $CONFIGFILE | grep MarkerName | grep ";" | awk '{print $3}' | awk -F';' '{print $1}' | awk -F'"' '{print $2}'`
    db_set novars/marker_name $MARKER_NAME
    
    INTERVAL=`cat $CONFIGFILE | grep interval | grep ";" | awk '{print $3}' | awk -F';' '{print $1}'`
    if [ "$INTERVAL" = "1" ] || [ "$INTERVAL" = "5" ] || [ "$INTERVAL" = "10" ] || [ "$INTERVAL" = "30" ] || [ "$INTERVAL" = "30" ] || [ "$INTERVAL" = "120" ] || [ "$INTERVAL" = "180" ]; then
        db_set novars/interval $INTERVAL
    else
	db_set novars/interval 1
    fi
    
    MASK_ANGLE=`cat $CONFIGFILE | grep maskAngle | grep ";" | awk '{print $3}' | awk -F';' '{print $1}'`
    if [ "$MASK_ANGLE" = "1" ] || [ "$MASK_ANGLE" = "3" ] || [ "$MASK_ANGLE" = "5" ] || [ "$MASK_ANGLE" = "10" ] || [ "$MASK_ANGLE" = "15" ] || [ "$MASK_ANGLE" = "20" ] || ["$MASK_ANGLE" = "25" ] || [ "$MASK_ANGLE" = "30" ]; then
	db_set novars/mask_angle $MASK_ANGLE 
    else
	db_set novars/mask_angle 10
    fi
    
    MAKE_RAW=`cat $CONFIGFILE | grep makeRAW | grep ";" | awk '{print $3}' | awk -F';' '{print $1}'`
    if [ "$MAKE_RAW" = "1" ]; then
	db_set novars/make_raw "true"
    else
	db_set novars/make_raw "false"
    fi
    
    
    CSMOOTH=`cat $CONFIGFILE | grep csmooth | grep ";" | awk '{print $3}' | awk -F';' '{print $1}'`
    if [ "$CSMOOTH" = "2" ] || [ "$CSMOOTH" = "10" ] || [ "$CSMOOTH" = "50" ] || [ "$CSMOOTH" = "100" ] || [ "$CSMOOTH" = "200" ] || [ "$CSMOOTH" = "300" ]; then        
	db_set novars/csmooth $CSMOOTH
    else
	db_set novars/csmooth 100
    fi
    

    
fi

## Questions 
db_input high novars/serial_port || true 
db_input high novars/baudrate || true 
db_input high novars/observation_directory || true 
db_input high novars/marker_name || true
db_input high novars/receiver_type || true
db_input high novars/interval || true
db_input high novars/mask_angle || true
db_input high novars/make_raw || true
db_input high novars/csmooth || true
db_go || true

